

<div class="container">

<h1>Editing employee</h1>

<div>
<%= link_to "Back to employees", employees_path %> | <%= link_to "Show this employee", @employee %> 
</div>
<%= render "form", employee: @employee %>

<br>


</div>
