<div class="container">

<h1>Editing departement</h1>

<div>
  <%= link_to "Back to departements", departements_path %> | <%= link_to "Show this departement", @departement %> 
</div>
<%= render "form", departement: @departement %>

<br>


</div>